<!-- We created a template using  the fundamental five
then we created a table that holds the header names
after that we created the table body to hold the data for those
header names -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
            <!-- we created a for loop because we want to
            get a value in the context of the list view function
            we created that is connected to our Receipt model .
            we use the context be cause we can use it in our html.  -->
                {% for receipt in receipts %}
                <tr>
                    <td>{{receipt.vendor}}</td>
                    <td>{{receipt.total}}</td>
                    <td>{{receipt.tax}}</td>
                    <td>{{receipt.date|date:"m/d/y"}}</td>
                    <!-- We wanted the date formatted a specific way so we used the | filter -->
                    <td>{{receipt.category.name}}</td>
                    <!-- We wanted the category name for the receipt -->
                    <td>{{receipt.account.name}}</td>
                    <!-- We wanted the account name for the receipt -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
<!-- Since we designated this html file to be our home page
we need to write a function in our projects urls.py
that redirects to the name of the path for the list view we created. -->
